
@{ ViewData["Title"] = "BackOffice"; }

<div class="text-center">
    <h1 class="mt-4">Bienvenido/a</h1>

    <div class="d-flex mt-4">
        <div class="card w-50 mb- mr-4">
            <div class="card-body text-center">
                <h1>Interesados</h1>
                <div class="mx-5 my-3 d-flex flex-column">
                    <a href="~/Interesado/Index" class="btn btn-primary mb-3">Consultar</a>
                    <a href="~/Interesado/Create" class="btn btn-primary mb-3">Crear</a>
                    <a href="~/Interesado/Index" class="btn btn-primary mb-3">Editar</a>
                    <a href="~/Interesado/Index" class="btn btn-primary mb-3">Eliminar</a>
                </div>
            </div>
        </div>

        <div class="card w-50  mb-2">
            <div class="card-body text-center">
                <h1>Mascotas</h1>
                <div class="mx-5 my-3 d-flex flex-column">
                    <a href="~/Mascota/Index" class="btn btn-primary mb-3">Consultar</a>
                    <a href="~/Mascota/Create" class="btn btn-primary mb-3">Crear</a>
                    <a href="~/Mascota/Index" class="btn btn-primary mb-3">Editar</a>
                    <a href="~/Mascota/Index" class="btn btn-primary mb-3">Eliminar</a>
                </div>
            </div>
        </div>

    </div>
</div>