@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body class="body-container">
    <div class=" d-flex justify-content-between mt-5 align-items-center align-content-center">
        <div class="text-center">
        </div>
        <div class="text-center">
        </div>
        <div class="text-center container-inicio-perro">
            <h2 class="h1">Encuentra a tu próximo compañero</h2>
            <a class="btn text-dark btn-propio" asp-controller="Home" asp-action="Mascotas">Buscar</a>
        </div>
    </div>
</body>
</html>