@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nosotros";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container d-flex flex-row mt-4">
    <p class="mr-2">Lorem ipdsfsdffffffffffffffffffffffff</p>
    <img class="img-fluid card-img-top" src="https://imagesvc.meredithcorp.io/v3/mm/image?q=60&c=sc&poi=face&w=2000&h=1000&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2020%2F07%2F25%2Fwoman-training-dog-157591149-2000.jpg" alt="img"/>
</div>
