
@{
    ViewData["Title"] = "RespuestaContacto";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body class="body-front text-center">

    <div class="mensaje-contacto">
        <h1 class="h1-contacto">Gracias por interesarte en una mascota!</h1>
        <h5>En breve nos estaremos contactando</h5>
    </div>

    <div class="form-group d-flex justify-content-center">
        <a class="btn text-dark btn-form" asp-area="" asp-controller="Home" asp-action="Index" > Volver al inicio</a>
    </div>

</body>
</html>