:root {
    --fondo-front: rgb(255,209,133, 0.4);
    --btn-color-fondo: #FFBA5C;
}



.body-container {
    background: url("../images/fondo-home.png") no-repeat center center fixed;
}

.navbar-propia {
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.footer-propio {
    background-color: #508D70;
}

.navbar-collapse{
    flex-grow:0 !important;
}

nav .container{
    align-items:normal !important;
    padding-left:4rem;
    padding-right: 4rem;
  
}

.logout-propio{
    border:none;
}

.btn-propio {
    margin-top: 2rem;
    background-color: var(--btn-color-fondo);
    padding: 0.4rem 2.5rem;
    border-color:none;
    outline:none;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.h1-contacto{
    margin-top:6rem;
}

.btn-form {
    margin-top: 2rem;
    background-color: var(--btn-color-fondo);
    padding: 0.4rem 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}


.container-inicio-perro {
    margin-top: 13rem;
    padding: 5rem;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-container{
    margin:0 !important;
    padding:0 !important;

}

.body-front {
    background-color: var(--fondo-front);
}

@media (max-width: 600px) {
    .container-inicio-perro {
        margin-top: 5rem;
    }
}