
/* Tipografía Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;1,200;1,300&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}


:root {
    --fondo-front: rgb(255,209,133, 0.4);
    --fondo-back: #ffffff;
    --btn-color-fondo: #FFBA5C;
    --h1-color: #FDB043;
}

.body-back{
    background-color: var(--fondo-back);

}

.body-container {
    background: url("../images/fondo-home.png") no-repeat center center fixed;
}

.navbar-propia {
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.footer-propio {
    background-color: #508D70;
}

.navbar-collapse{
    flex-grow:0 !important;
}

nav .container{
    align-items:normal !important;
    padding-left:4rem;
    padding-right: 4rem;
  
}

.nosotros-img{
    width:45rem;
    height:22rem;
    margin: 0 auto;
}

.container-nosotros{
    margin-top:3rem;
}

.logout-propio {
    border: none;
}

.btn-form-back {
    margin-top: 2rem !important;
    padding: 0.4rem 2.5rem !important;
    font-size: 1.5rem !important;
    text-align: center;
}

.mensaje-contacto {
    margin-top: 15rem;
}

.btn-propio {
    margin-top: 2rem;
    background-color: var(--btn-color-fondo);
    padding: 0.4rem 2.5rem;
    border-color: none;
    outline: none;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.h1-contacto {
    margin-top: 6rem;
    color: var(--h1-color);
}

.h1-back {
    margin-top: 4.5rem;
    color: black;
}

.btn-form {
    margin-top: 2rem;
    background-color: var(--btn-color-fondo);
    padding: 0.4rem 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.tbody-index tr:nth-child(2n +1){
    background-color:#c7cbc4;
}


.tbody-index{
    border: solid black 0.1rem;
}

.index-btns a {
    width: 85%;
}

.carta-index {
    border: 0.18rem solid #373535;
    border-radius:15px;
}

.container-index-back {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.index-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top:2rem;
}

.container-inicio-perro {
    margin-top: 13rem;
    padding: 5rem;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-container{
    margin:0 !important;
    padding:0 !important;

}

.body-front {
    background-color: var(--fondo-front);
}



@media (max-width: 600px) {
    .container-inicio-perro {
        margin-top: 5rem;
    }

    .nosotros-img {
        width: 25rem;
        height: 10rem;
    }
}